footer{
    color: $font-white;
    background-color: $background-footer;
    font-size: x-large;
    margin: 0;

    .whatsapp-instagram{
        display: flex;
        justify-content: space-evenly;
        
    }
    .celular{
        max-width: 30px;
        
    text-decoration: none;

    .whatsapp{
        display: flex;
        justify-content: center;
        font-size: 2em;
        color: $font-white;
    }
    .whatsapp:hover{
        color: $font-black;
    }
    }
    .instagram{
        display: flex;
        justify-content: center;
        max-width: 30px;
        text-decoration: none;
       

    .iconoIg{
        font-size: 2em;
        color: $font-white;
    }
    .iconoIg:hover{
        color: $font-black;
    }
    }

    .derechosReservados{
        justify-content: center;
    }
    .sitioDesarrollado{
        justify-content: center;
    }


}

