footer{
    color: $font-white;
    background-color: $background-footer;
    font-size: x-large;
    .celular{
        display: flex;
    justify-content: center;
    }
    .instagram{
        display: flex;
    justify-content: center;
    }

}