// main index

.intro{
    background-color: $background-main;
    width: 100% !important;

    .carouselBorde{
        padding-top: 30px !important;

        .imgHome{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.664), 0 6px 20px 0 rgba(0, 0, 0, 0.511);
        }
    }
}



.intro2{
    background-image: url(../img/imagenfondo-home.jpg);
    background-position: center;
    background-size: cover;
    height: 1000px;
}

// main sobre mi

.biografia{
    background-color: #474141;
}

// main cuestionario

.divUno {
    @extend %divsCuestionario;
    background-color: #232426;
}

.divDos {
    @extend %divsCuestionario;
    background-color: #8C796D;
}

// main moda

.titulo-verano{
@include titulos($borderColor #232426, $backgroundColor #73351F);
}

.titulo-invierno{

}

.titulo-fiesta{

}

.titulo-emily{

}