// main index

.intro{
    background-color: $background-main;
    width: 100% !important;
    margin: 0 !important;

    .carouselBorde{
        padding-top: 30px !important;

        .imgHome{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.664), 0 6px 20px 0 rgba(0, 0, 0, 0.511);
        }

    }
}

.texto-home{
    color: $font-white;

    .titulo-home{
        margin-bottom: 2em;
    }

    .titulo-home:hover{
        transform:scale(1.10);
    }

    .home-texto{
        font-size: 2.5em;
    }

    .home-texto:hover{
        transform:scale(1.10);
    }
}

.intro2{
    background-image: url(../img/imagenfondo-home.jpg);
    background-position: center;
    background-size: cover;
    height: 800px;
    background-attachment: fixed;

    .cuestionario{
        color: $font-white;
        
        .titulo-cuestionario{
            font-size: 4em;
        }

        .texto-cuestionario{
            font-size: 2.5em;
        }
    }
}

// main sobre mi

.biografia{
    background-color: #474141;
}

// main cuestionario

.divUno {
    @extend %divsCuestionario;
    background-color: #232426;
}

.divDos {
    @extend %divsCuestionario;
    background-color: #8C796D;
}

// main servicios

.servicios{
    background-color: #232426;

    .tarjeta{
        display: flex;
        justify-content: center;

        .card{
            background-color: #8C796D;
        }
    }
    
    .tarjeta:hover{
        transform:scale(1.10);
    }
}


// main moda

.mainModa{
    background-color: #232426;

    .titulos{
        display: flex !important;
        justify-content: center !important;
        color: $font-white;
        font-size: 3em;
    }

    .carousel-item{
        height: 700px;
        .imgModa{
            margin: 0 auto;
        }
    }
    
    .carousel-item:hover{
        transform:scale(1.25);
    }
}